.contenedor-top-compras-detail{display: grid;grid-template-columns: auto auto auto auto;max-width: 1200px;margin: auto;row-gap: 3px;column-gap: 2px;}
.contenedor-top-compras-detail p{border: 1px solid var(--baseColor);padding: 8px 5px;}
.container-page h2{margin: 30px 0px 10px;}