.contenedor-top-compras-detail{display: grid;grid-template-columns: auto auto auto auto;max-width: 1200px;margin: auto;row-gap: 3px;column-gap: 2px;}
.contenedor-top-compras-detail p{border: 1px solid var(--baseColor);padding: 8px 5px;}
.container-page{text-align: center;}
.container-page h2{margin: 30px 0px 10px;text-align: left;}
.container-page h2 svg{font-size: 25px;margin-left: 10px;}
.container-page h2 path{color: var(--green);}

.btn-avaiable-product{padding: 10px 12px;border: 1px solid var(--baseColor);background-color: var(--baseColor);color: var(--gray);margin-bottom: 20px;
    font-size: 16px;border-radius: 7px;}

.container-date-state-product{display: flex;align-items: center;font-size: 20px;}
.container-date-state-product span{margin-left: 15px;}
.retiro-product{color: var(--coral);font-weight: bold;}
.devolucion-product{color: var(--green);font-weight: bold;}

.container-modal-product{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: var(--opacity);}
.container-content-modal-product{width: 450px;margin: 150px auto;background-color: var(--gray);padding: 20px;border-radius: 12px;}
.btn-close-modal-product{text-align: right;font-size: 30px;}
.btn-close-modal-product svg{cursor: pointer;}
.content-modal-product{text-align: left;margin: 20px;}
.content-modal-product input, .content-modal-product select, .content-modal-product textarea{border: 1px solid var(--baseColor);padding: 7px 10px;border-radius: 7px;font-size: 16px;}
.content-modal-product textarea{width: 100%;height: 120px;margin-bottom: 10px;}
.content-modal-product input[type="text"]{width: 100%;}
.content-modal-product button{width: 100px;margin: 25px auto 0px;display: block;padding: 10px;border: 1px solid var(--baseColor);background-color: var(--baseColor);color: var(--gray);font-size: 16px;
    border-radius: 7px;}