.container-title-operations{display: flex;}

.container-save-add{display: flex;justify-content: space-between;align-items: center;width: 250px;}
.container-save-add svg{font-size: 22px;}
.container-save-add path{color: var(--green);}
.container-save-add button, .container-save-add a{font-size: 18px;display: flex;align-items: center;border: 1px solid;padding: 14px 15px;border-radius: 12px;}
.container-save-add a{background-color: var(--table);color: var(--gray);}
.container-save-add a svg{margin-right: 7px;font-size: 20px;}
.container-save-add a path{color: var(--gray);}

.btn-list-detail-unities{background-color: var(--gray)!important;border: 1px solid var(--baseColor)!important;padding: 10px!important;}
.btn-list-detail-unities svg{margin: 0px!important;font-size: 30px!important;}
.btn-list-detail-unities path{color: var(--baseColor)!important;}

#botonExportarExcel{border-color: var(--green);}
.tabla-ventas{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.tabla-ventas td, .tabla-ventas th {
    border: 1px solid var(--gray);
    padding: 8px;
    font-size: 14px;
}

.tabla-ventas td{padding: 18px 0px;}

.tabla-ventas tr:nth-child(even){background-color: var(--opacity3);}

.tabla-ventas tr:hover {background-color: var(--opacity2);}

.tabla-ventas th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--table);
    color: var(--gray);
    font-size: 12px;
}

.container-total-data{display: flex;justify-content: space-around;background-color: var(--table);color: var(--gray);padding: 15px;border: 1px solid var(--gray);font-size: 18px;
    margin-top: 20px;}
.container-total-data h4 {margin-right: 10px;}
.container-total-data div{display: flex;justify-content: space-around;}

.container-all-filters{margin: 0px 30px;}

.container-all-filters{display: flex;justify-content: space-between;align-items: center;}

.container-input-search{border: 1px solid var(--baseColor);padding: 5px 12px;border-radius: 7px;display: flex;margin-top: 5px;}
.container-input-search button{display: flex;align-items: center;}
.container-input-search input{font-size: 16px;padding: 5px;}

.container-filter-by-date{display: flex;justify-content: space-between;width: 350px;}
.container-filter-by-date input[type="date"] {border-radius: 5px;width: 170px;font-size: 16px;border: 1px solid var(--baseColor);color: var(--baseColor);
    padding: 7px 15px;margin-top: 5px;}

@media screen and (min-width: 900px) {
    .ruc-provedor-form{width: 300px;}
    .razon-social-form{width: 500px;}
}